.videos-header{
    padding: 100px;
    display: flex;

    position: relative;
    justify-content: center;
    color: rgb(231, 255, 203);
    font-size: 3em;
    font-family: 'MuseoModerno', cursive;
}



