.videos-header{
    padding: 100px;
    display: flex;
    position: relative;
    justify-content: center;
    font-size: 3em;
    color: white;
    font-family: 'Playfair Display', serif, cursive;
}

.video{
    height: 200px;
    width: 150px;
}



