.service {
    column-width: 0.296875%;
    padding: 1.25rem;
    display: grid;
    margin: 1.25rem auto;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 1.25%;
}

.services-header{
    padding: 6.25%;
    display: flex;
    width: 100%;
    position: relative;
    justify-content: center;
    font-size: 3rem;
    color: white;
    font-family: 'Playfair Display', serif, cursive;
}


.service-wrap{
    overflow: hidden;
    height: 0;
    padding: 50% 0;
    position: relative;
    opacity: 0.8;
}


.service-img{
    /* float: left; */
    min-height: 100%;
    max-width: 100%;
    object-fit: cover;
    padding: 1em;
    position: absolute;
    top: 0;
    left: 0;
}


span{
    position: absolute;
    z-index: 100;
    color: white;
    bottom: 8%;
    left: 8%;
    padding: 10px 30px;
    background: #c49414;
    font-family: 'Playfair Display', serif, cursive;
    font-size:2em;
    transition: 0.2s;
    cursor: pointer;
}


span:hover{
    letter-spacing: 6px;
    background: none;
    color: white;
  }


  @media screen and (min-width: 270px) 
and (max-width :  989px) 
{
    .service {
        column-width: 0.296875%;
        padding: 1.25rem;
        display: grid;
        margin: 1.25rem auto;
        grid-template-columns: none ;
        grid-gap: 1.25%;
        
    }

}



