.background {
    background: black
}

.navBar{
  border-bottom: 1px solid rgb(183, 202, 160);;
  padding: 20px;
    ;
}



  .navBar a {
    display: flex;
    font-size:1em;
    padding-left: 15px;
    padding-right: 15px;
    /* padding-top: 10px; */
    padding-bottom: 10px;
    text-decoration: none;
    background: black;
    color: rgb(183, 202, 160);
    margin: 10px; 
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;
  }


 .navBar li {
  display: inline-flex;
  padding: 0;
  height: 0;
 }