.gallery{
    padding-top: 20px;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
}

 .gallery-nav{ 
    align-items: center;
    display: flex;
    justify-content: center;
} 


.gallary-link {
    
    margin: 1rem;
    font-size:1rem;
    background: white;
    padding: 10px 30px;
    text-decoration: none;
    color: #073763;
    margin-top: 50px; 
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallary-link:hover{
    letter-spacing: 6px;
    background: #073763;
    color:#c49414;
  }


  @media screen and (min-width: 270px) 
and (max-width: 900px) 
 {
    .gallery-nav{ 
        align-items: center;
        display: grid;
        justify-content: center;
    } 
 }