
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
  margin: 0;
}

code {
  font-family: 'Playfair Display', serif;
}


body{
  background: #073763;
 
}

section{
  justify-content: center;
  display: flex;
}


html {
  scroll-behavior: smooth;
  font-size: 14px;
  height: 100%;
  width: 100%;
}




