
/* model photo styles */

.backdrop-photos{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:  rbga(0,0,0,0.5);
}

.backdrop-photos img{
  display: block;
  max-width: 100%;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rbga(0,0,0,0.5);
  border: 3px solid white;
 
}

.image-container:hover{

  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}

/* Mobile Phones  */
@media screen and (min-width: 270px) 
and (max-width :  750px) 
{
  .menu, .camera, .navBar {
    display: none; 
  }
  .video-container{
    display: flex;
    justify-content: center;
    height: 450px;
    width: 250px;
}
 
  .gallery .gallery-nav{
    display: grid;
    width:100%;
    font-size: .5rem;
    padding: .02%;
   
  }

  .videos{
    padding: 20px;
    display: grid;
    margin: 20px auto;
    grid-gap: 20px;
    justify-content: center;
    grid-template-columns: none;
  }

  .gallery .videos {
    width: 25%
  }
  .logo{
    top:65%;
  }
  .text p{
    font-size: calc(.1rem + 5vw) !important;
  }

  .text a{
    font-size: calc(.5rem + 2vw) !important;
  }
}


/* Medium Devices, tables etc */
@media screen and (min-width: 768px)
and (max-width: 989px)
 {
  .menu {
    display: none; 
  }
 
  .videos{
    padding: 20px;
    display: grid;
    margin: 20px auto;
    grid-gap: 20px;
    grid-template-columns: none;
    justify-content: center;
  }
  
  .gallery-nav{
    justify-content: center;
    position: relative;
    left: 5%;
  }
}

/* laptops Desktop */
@media screen and (min-width: 990px) 
 and (max-width: 1199px)
 {
  .menu {
    display: flex; 
  }
  .burger-bar, .camera{
    display: none;
  }
  .videos{
    padding: 20px;
    display: flex;
    flex-wrap:wrap;
    margin: 20px auto;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
  }
 
  
}

/* Large Devices */
@media screen and (min-width: 1200px) {
  .menu {
    display: flex; 

  }
  .camera{
    display: flex; 
    height: 75%;
    width: 75%;
  }

  .menu a{
    font-size: 6rem;
    max-width: 1500px;
  }

  .text a{
    font-size: 4rem;
  }

  .social > svg{
    height: 6rem;
    width: 6rem;
  }
 
  .videos{
    padding: 20px;
    display: flex;
    flex-grow: 4;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 20px;
    flex-wrap: wrap;
  }
 
}











 


